{% extends 'base.html' %}

{% load django_template_maths %}

{% block title %}
Question : {{ question.q_name}}
{% endblock title %}

{% block username %}
Question : {{ question.q_name}}
{% endblock username %}

{% block content %}
<div style='text-align:center'>

        <h3>{{question.q_name}} ({{question.total_vote_count}})</h3>

<hr style='width:25%'>

        {% for choice in question.choice.all %}

                    <a href="{{choice.id}}">

                    </p>
                        {{choice.c_name}} - > {{choice.votes_count |div:question.total_vote_count|mul:100|safe}}%
                    <p>
                    </a>
        {% endfor %}
        <br>
</div>
{% endblock content %}