{% extends 'base.html' %}

{% load django_template_maths %}

{% block title %}
Question List ({{ questions | length }})
{% endblock title %}

{% block username %}
Question List ({{ questions | length }})

<form method='POST'>
{% csrf_token %}
<input name='search_text'>
<button>Search</button>
</form>

{% endblock username %}

{% block content %}
<hr style='width:80%;'>
<div style='text-align:center'>
{% for question in questions %}

        <h3>{{question.q_name}} ({{question.total_vote_count}})</h3>

<hr style='width:25%'>

        {% for choice in question.choice.all %}

                    <a href="{{choice.id}}">

                    </p>
                        {{choice.c_name}} - > {{choice.votes_count |div:question.total_vote_count|mul:100|safe}}%
                    <p>
                    </a>
        {% endfor %}
        <br>
{% endfor %}
</div>
{% endblock content %}